php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone Asia/Jakarta
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteRule ^$ login.php [L]
#Options All -Indexes
</IfModule>
